html{
	height:100%;
}
body{
	height:100%;
	margin:0;
	font-family:Arial;
	font-size:18px;
}
/*general*/
.wrapper{
	position:relative;
	min-height:100%;
}
.content-wrap{
	margin:auto;
	width:980px;
}
.white-text{
	color:#fff;
}
body a{
	text-decoration:none;
}
* ul{
	list-style-type:none;
}
/*header part*/
	/*upper-header*/
header{
	margin:auto;
}
.upper-header{
	background-color:#00a2e8;
	text-align:center;
	padding:0 10px;
}
#phone{
	float:left;
	padding-top:15px;
}
.phone-icon{
	display:inline-block;
	position:relative;
	top:15px;
	background:url("imgs/phone-icon.png") no-repeat;
	height:56px;
	width:56px;
}
#phone a{
	font-size:30px;
	margin-left:10px;

}
#phone a:hover{
	color:#c8eeff;
}
.logo{
	display:inline-block;
}
.contact-us{
	float:right;
	width:150px;
	height:113px;
}
.contact-us a{
	display:inline-block;
	line-height:115px;
	
	font-size:25px;
	width:100%;
	height:100%;
}
.contact-us a:hover{
	background-color:#4dbded;
}
	/*main header*/
#header-image{
	height:100%;
}
#company-name{
	position:absolute;
	top:150px;
	right:550px;
	width:200px;
}
#name-text{
	display:inline-block;
	padding-bottom:20px;
	font-size:30px;
	font-weight:bold;
	color:#00a2e8;
	text-shadow:1px 1px 2px #000;
}
#desc-text{
	color:#fff;
	text-shadow:1px 1px 2px #000;
}
	/*lower header*/
.lower-header{
	height:50px;
	background:#00a2e8;
	text-align:center;
}
#menu{
	float:left;
	padding:15px;
	position:relative;
}
#menu:hover{
	background:#4dbded;
}
#menu #hidden-menu{
	padding:0;
	position:absolute;
	left:0;
	top:32px;
	width:100%;
	display:none;
}
#menu #hidden-menu li{
	padding-top:5px;
	background:#4dbded;
}
#menu #hidden-menu li a{
	white-space:no-wrap;
	display:block;
	border-bottom:1px solid #fff;
	
}
#menu:hover #hidden-menu{
	display:block;
}
#cart{
	float:right;
	padding:15px;
}
#search{
	display:inline-block;
	padding:15px;
}
#hidden-menu{
	
}
#search-cathegory{
	
}
/*content part*/
#content-sec{
	padding-bottom:113px;
}

/*footer part*/
footer{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:113px;
	background-color:#00a2e8;
}
#copyright{
	float:right;
	padding-top:4%;
}
#copyright p{
	margin:0;
	padding-bottom:2%;
}







